* {
  margin: 0;
  padding: 0;
}

button {
  background-color: #ED6B5A;
  border: none;
  border-radius: 3px;
  padding: 4px 5px;
  margin: 5px;
  font-weight: 600;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
